
body { 
    font-family: 'Raleway';
    font-size: 100%;
    color: rgb(110, 3, 3);
    
    margin: 0;
    text-align: center;
    clear:left;
  

}
section
{
  background-image:url( {{url_for('static', filename='.png')}} )
          
}
   


.overlay{
    opacity:0.8;
    background-color:rgb(160, 12, 12);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    text-align: center;
    clear:left;
}

h1{
    font-family: 'Raleway' ;
    font-size: 3em;
    margin: 0;
	padding-bottom: 1em;
    text-align:center;
    clear:left;
    
}

h2 {
    font-size: 1em;
    text-align: center;
    clear:left;
    margin-bottom:80px; 
    position: fixed; 
    bottom: 0; 
    width:100%;
}

p {
    font-size: 0.5 em;
    text-align: center;
    clear:left;
}



img {
	display: inline-block;
	margin: auto;
	max-width: 500%;
    text-align: center;
    clear:left;
}


a {
    color: #df1616;
    text-decoration: none;
    text-align: center;
    clear:left;
}

a:hover {
    color: #ddb3b3;
    clear:left;
    text-align: center;
}



@media (max-width: 800px) {
    body {
        background: #78159683;
        

    }
   
}
