{% extends 'base.html' %}

{% block body %}

<h1>RESISTOR COLOR CODE FINDER</h1>


  <input type="file" name="input" accept=".png, .jpg , .jpeg" style=" color: rgba(255, 255, 255, 0.5);
  font-family: Raleway; 
  font-size: 20px; line-height: 20px;">
  <p margin-top:30px> <button type="submit" color: rgb(160, 12, 12); style=" margin-top: 100px;
  font-family: Raleway; 
  font-size: 20px; line-height: 20px;" >Get the Colorcode!</button></p>




  <h2> <a href="{{ url_for('index') }}">Go Home</a></h2>


<p style="position: fixed; bottom: 0; width:100%; text-align: center"><a href="https://github.com/AswathiGR" target="_blank">Made with ❤</a></p>


{% endblock %}

